body {
    margin: 20px;
    margin: 0 auto;
    width: 100%;
}
h2 {
    margin: 20px auto;
    text-align: center;
}
table {
    border: 1px solid;
    background: rgb(214, 206, 206);
    margin-left: auto;
    margin-right: auto;
}
table tr:nth-child(odd) {
	background: white;
}
td {
    text-align: center;
    margin: 5px;
}
a {
    color: blue;
    margin: 0px 5px;
}
.back {
    text-align: center;
    margin-top: 20px;
}
.paging {
    margin: 20px;
}
a.detail {
    color: green;
}
input.db_btn {
    color: red;
}
input.db_btn1 {
    color: blue;
}


.e_msg{
    color: red;
    margin-top: 0;
}
table{
    table-layout: auto;
    width: 90%;
    margin: 0 auto 40px;
}
.DB_a{
    color: blue;
    text-decoration: underline;
}
.td_a{
    text-align: center;
}
.textarea_hide{
    display: none;;
}
.DB_td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
}



.con_box{
    width: 70%;
    border: 1px solid;
    border-radius: 10px;
    margin: 30px auto;
    padding-bottom: 20px;
}
h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.con_box p{
    margin-left: 5%;
    margin-bottom: 0;
}
.con_box input{
    margin-left: 5%;
    width: 90%;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}
.con_box span{
    background-color: orange;
    color:white;
    padding:5px;
    border-radius: 5px;
}
.con_box textarea{
    width: 90%;
    height: 120px;
    margin-left:5%;
    margin-bottom:20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.con_box textarea.textarea_hide{
    display: none;
}
.con_box input.botton{
    width: 91%;
    background-color:orange;
    color:white;
    border-color:orange;
    margin-bottom:20px;
}
.con_box .date{
    width: 90%;
    border-top:1px solid;
    margin-left: 5%;
}
.con_box .date.t{
    margin-bottom: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.con_box a.complete{
    margin-bottom: 20px;
    text-decoration: none;margin-left:5%;color:black;margin-bottom:5%;font-size:20px;
}
.con_box .con_text{
    padding-bottom: 20px;
}
.con_box input.botton_b{
    width: 40%;
    background-color:white;
    margin-left:5%;
    margin-bottom:20px
}
.con_box input.botton_s{
    width: 40%;
    background-color:orange;
    margin-left:5%;border-color:orange;
    margin-bottom:20px;
    color:white;
}
select {
    margin-left: 5%;
    border: 1px solid;
    width: 20%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
}
.aa{
    text-align: center;
    margin: 20px;
}

